<!DOCTYPE html>
<html style="background-color:#fa7f72;">
<head >
    <link rel="stylesheet" href="styles.css">
    <title >Movie Theater</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<body style="background-color:#fa7f72;">


<h1>Choose Movie <br><br>
<a href="kungfupandas.html"><img src="imagens/kungfupanda4.png" alt="Kung Fu Pandas 4" width="104" height="142" vspace="25" hspace="25" style="border: 20px solid SlateBlue;"> </a>
<a href="Garfield.html"><img src="imagens/Garfield.jpeg" alt="Garfiels" width="104" height="142"  vspace="25" hspace="25" style="border: 20px solid SlateBlue;"> </a>
<a href="planetamacaco.html"><img src="imagens/PlanetaMacacos3.png" alt="Planeta Macaco" width="104" height="142" vspace="25" hspace="25" style="border: 20px solid SlateBlue;"> </a>
<a href="sonic.html"><img src="imagens/Sonic3.jpg" alt="Sonic" width="104" height="142" vspace="25" hspace="25" style="border: 20px solid SlateBlue;"> </a>
<a href="meumalvadofavorito.html"><img src="imagens/meumalvadofavorito.png" alt="Sonic" width="104" height="142" vspace="25" hspace="25" style="border: 20px solid SlateBlue;"> </a>

</h1>
</body>
</html>

