<!DOCTYPE html>
<html style="background-color:#fa7f72;">
<head >
    <link rel="stylesheet" href="style.css">
    <title >Kung Fu Panda 4</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<body style="background-color:#fa7f72;">
    
    <h1>Movie Kung Fu Pandas 4 <br><br> </h1>
    <div class="esquerda" style="background-color: #fa7f72;">
        <img src="imagens/Sonic3.jpg" alt="Sonic" width="312" height="426" style="border: 20px solid SlateBlue;""><br>
    </div>
    <div class="direita"><h2>Texto</h2></div>   

</body>
</html> 